name: Assets

on:
  workflow_dispatch:
  schedule:
    - cron: '0 20 * * *'

jobs:
  assets:
    name: Update local assets
    runs-on: ubuntu-latest
    if: github.repository_owner == 'ghostery'
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2

      - name: Cache node_modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: npm ci

      - name: Fetch latest assets
        id: critical_step
        run: npm run update-mappings
        continue-on-error: true

      - name: Check if critical step should skip workflow
        run: |
          if [ "${{ steps.critical_step.outcome }}" != "success" ]; then
            echo "skip=true" >> $GITHUB_ENV
          else
            echo "skip=false" >> $GITHUB_ENV
          fi

      - uses: tibdex/github-app-token@v1
        if: env.skip == 'false'
        id: generate-token
        with:
          app_id: ${{ secrets.ADBLOCKERBOT_APP_ID }}
          private_key: ${{ secrets.ADBLOCKERBOT_PRIVATE_KEY }}

      - name: Create Pull Request
        if: env.skip == 'false'
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ steps.generate-token.outputs.token }}
          committer: Ghostery Adblocker Bot <ghostery-adblocker-bot@users.noreply.github.com>
          author: Ghostery Adblocker Bot <ghostery-adblocker-bot@users.noreply.github.com>
          commit-message: "Update redirect resources mappings"
          title: "Update local assets"
          body: "Automated update of local redirect resources mappings."
          branch: update-assets
          labels: "PR: Internal :house:"

      - name: Check outputs
        if: env.skip == 'false'
        run: |
          echo "Pull Request Number - ${{ env.PULL_REQUEST_NUMBER }}"
          echo "Pull Request Number - ${{ steps.cpr.outputs.pr_number }}"
